<header>
        <div>
            <img class="header-logo" src="../../../assets/imagen/logo.png" alt="Logo">
        </div>
        <div>
            <nav class="botones">
                <button class = "boton" mat-button color='secundary' [routerLink]="['/login']" routerLinkActive="router-link-active" > Ingresar </button>
                <button class = "boton" mat-button color='secundary' [routerLink]="['/register']" routerLinkActive="router-link-active"> Registrarse </button>
            </nav>
        </div>
</header>


