<div class="contenedor">
  <app-header-landing></app-header-landing>

  <div class="home">
    <h1> ¡Bienvenidos a TodoIT! </h1>

    <div class="contenedor-banner">
        <div class="columna-banner">
            <ul class="texto-banner">
                <li> CONOCE LOS MEJORES PRODUCTOS ELECTRÓNICOS            </li>
                <li> PONGA EN MARCHA SUS IDEAS</li>
                <li> COMPRE Y ARME SUS MEJORES PROYECTOS</li>
            </ul>
        </div>
        <div class="columna-banner">
            <div class="filas-imagenes">
                <div class="fila-imagen">
                    <img class="imagen-home" src="../../../assets/imagen/imagen-home-1.png" />
                    <img class="imagen-home" src="../../../assets/imagen/imagen-home-2.png" />
                </div>
                <div class="fila-imagen">
                    <img class="imagen-home" src="../../../assets/imagen/imagen-home-3.png" />
                    <img class="imagen-home" src="../../../assets/imagen/imagen-home-4.png" />
                </div>
            </div>
        </div>
        
    </div>
    <section class="contenido">
        <h2>
            Somos una empresa fundada hace poco tiempo en la Ciudad de Buenos Aires, en Argentina.<br> 
            TodoIT ofrece una variedad amplia de componentes electr&oacute;nicos  que distribuimos 
            a trav&eacute;s de nuestro canal mayorista y minorista dependiendo del volumen solicitado, 
            buscando en todos los casos la mayor satisfacci&oacute;n de nuestros clientes.<br> 
        </h2>
    </section>
  </div>
  <app-footer-landing></app-footer-landing>        
</div>
