body
    background-color: #5C6BC0

.contenedor
    background-image: url("assets/imagen/mesirve.jpg")
    background-repeat: no-repeat
    background-size: cover //Para que la imagen no se rompa en 4 y contenga todo el div
    min-height: 100vh // Tengoproblema con la altura, no con el ancho.
    min-width: 100%
    display: flex
    flex-direction: column
