<footer>
    <div>
        <img class="footer-logo" src="../../../assets/imagen/logo.png" alt="Logo">
    </div>
    <p> Creado por Tamara Espejo Ruiz </p>
    <div class="iconos">
        <img class="icono" src="../../../assets/imagen/facebook.png">
        <img class="icono" src="../../../assets/imagen/instagram.png">
        <img class="icono" src="../../../assets/imagen/linkedin.png">
        <img class="icono" src="../../../assets/imagen/twitter.png">
        <img class="icono" src="../../../assets/imagen/telegram.png">
        <img class="icono" src="../../../assets/imagen/whatsapp.png">
    </div> 
</footer>